/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    text-align: center;
}
.split {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.button-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.container.split {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 800px;
    justify-content: space-between;
}

.card {
    background: #ffffff;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 12px 30px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.title-service {
    font-size: 18px;
    color: #555;
    margin-top: -10px;
    margin-bottom: 20px;
}
.container.action {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Asegura que el contenido esté bien alineado */
    margin-top: 20px; /* Separación del contenido superior */
}

.container.action button {
    width: auto; /* Ajusta el ancho al contenido */
    padding: 12px 30px; /* Espaciado alrededor del texto */
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.container.action button:hover {
    background-color: #0056b3;
}
